$primary-color = #ffbb00
$secondary-color = #ff7f00
$terciary-color = #dc7000

$primary-font-color = #222222

$city-background-color = #fff3e4
$city-primary-font-color = #505050
$city-secondary-font-color = #ff8000
