.CityInput 
  position relative
  margin: 20px 0
  .-input
    height: 58px;
    border: 1px solid #d86c00;
    background: #fff;
    padding: 0 50px 0 22px;
    width: 100%;
    box-sizing: border-box;
    font-size: 24px

  .-button
    position: absolute;
    cursor pointer 
    width: 50px;
    height: 100%;
    font-size: 20px;
    color: #505050;
    top: 0
    right: 0;
    border: 0;
    padding: 0;
    background-color: transparent
    background-image: url("./../img/search-icon.png")
    background-repeat: no-repeat
    background-position: center
    outline 0
